* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: white;
  background:violet;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-btn .btn {
  width: 100px;
  font-size: larger;
}

.logo-box img{
  cursor: pointer;
  width: 50px;
}

.logo-box h3{
  cursor: pointer;
}

.row4 .p {
  width: 250px;
}

.col {
  display: flex;
  justify-content: space-between;
}

.p {
  width: 280px;
  height: 50px;
  color: white;
  background: linear-gradient(to right, pink, violet);
  cursor: pointer;
  font-size: larger;
  border: 3px solid white;
}

.p:hover {
  background: linear-gradient(to left, pink, violet);
}

.footer{
  height: auto;
}

.list-box {
  display: flex;
  justify-content:space-between;  
  max-width:250px;
}

.list {
  display: flex;
  flex-direction: column;
}


.list a{
  font-size: larger;
  cursor: pointer;
 
}

.about p{
  font-size: larger;
}

@media only screen and (max-width: 720px) {
    .gen, .list{
      width:100%;
    }

    .list-box{
      max-width: 350px;
    }

  .row{
    text-align: center;
  }

  .about{
    margin-top: 30px;
  }
}